version: "3.1"

services:
  database:
    image: mongo
    container_name: "mongo"
    restart: "always"
    env_file: .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGO_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD=$MONGO_PASSWORD
    volumes:
      - mongodb:/data/db
    ports:
      - "27017:27017"
    expose:
      - "27017"
  redis:
    image: redis
    container_name: "redis"
    restart: "always"
    env_file: .env
    volumes:
      - redis:/data
    ports:
      - "6379:6379"
    expose:
      - "6379"
    command: redis-server --requirepass "$REDIS_PASSWORD"

volumes:
  mongodb:
  redis:
